<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# it'll render the title from index.njk #}
    <title> {{ title }} </title>

    <link rel="stylesheet" href="/style.css"/>
  
  </head>
  <body>
  <h1> {{ title }} </h1>

    {# HEADER COMPONENT #}
    {# using ninjucks that the static site generator can compile into html #}
    {% include 'header.njk' %}

    <main>
	  {{ content | safe }}
    </main>

    {# FOOTER COMPONENT #}
    {% include 'footer.njk' %}

  </body>
</html>